<div class="all">
  <h1 id="top" class="ammo centered words">Who We Are</h1>
  <h2 id="motto" class="ammo centered words">Brew Beer. Drink Beer. Have Fun Doing it.</h2>
  <div class="centered">
    <img id="owners" src="../assets/images/owners.jpg" alt="props brewery owners">
    <br>
    <span class="words centered">(Pictured above: Nathan Vannatter, Mike Kee, Brian O'Neill, and Travis Peterson)</span>
  </div>
  <br>
  <p class="words" id="paragraph">Mike, Nate, and Travis spent most of their lives serving in the USAF. Mike and Nate flew special operations missions in various prop planes throughout the world. Travis was a helicopter door gunner/flight engineer in various types of Special Operations helicopters. Our brewery, and many of our beers, gets its name from their shared experiences in propeller aircraft. The last, but not least, owner Brian is a legendary restauranteur with decades of experience from Boston, MA. They are great guys and the ones that make our brewery run. If you see them then say hi! They are as friendly as they are hard-working.</p>
  <br>
  <br>
  <br>
  <div class="row">
    <img class="col-sm-4 pic" src="../assets/images/handles.jpeg" alt="Tap Handles">
    <img class="col-sm-4 pic" src="../assets/images/hopsMalts.jpg" alt="Mardi Gras">
    <img class="col-sm-4 pic" src="../assets/images/mardiGrasPeople.jpg" alt="Mardi Gras">
  </div>
  <div class="row">
    <img class="col-sm-4 pic" src="../assets/images/pour.jpeg" alt="Beer Pouring">
    <img class="col-sm-4 pic" src="../assets/images/ground2.png" alt="Flying Coffin IPA">
    <img class="col-sm-4 pic" src="../assets/images/glasses.jpeg" alt="Beer Glasses">
  </div>
</div>
