p{
  margin-bottom: 0px;
  padding-bottom: 2vh;
}

.ammo{
  font-family: military;
}

.centered{
  text-align: center;
  padding-top: 5vh;
}

.pic{
  max-height: 275px;
  max-width: 350px;
  margin: 0 auto;
  padding: 0px 0px 20px 0px;
}

.words{
  color: white;
}

#top{
  padding-top: 22vh;
}

#owners{
  max-height: 60%;
  max-width: 90%;
}
