p{
  margin-bottom: 0px;
  padding-bottom: 2vh;
}

.ammo{
  font-family: military;
}

.centered{
  text-align: center;
  padding-top: 5vh;
}

.pic{
  max-height: 450px;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2vh;

}

.words{
  color: white;
}

#owners{
  max-height: 60%;
  max-width: 90%;
}
