<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add a New User</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label class="labels">User Name:</label>
        <br>
        <input #newUserName>
      </div>

      <div>
        <label class="labels">Password:</label>
        <br>
        <input #newPassword>
      </div>
      <button class="btn-success" (click)="submitForm(newUserName.value, newPassword.value); newUserName.value=''; newPassword.value='';">Add</button>
    </div>
  </div>
