<div class="menu words">
  <h1 class="ammo centered">Props Brewery and Grill Menu</h1>

  <h3 class="ammo centered">Starters</h3>
  <div class="row">
    <div class="col-sm-6">
      <p><span class="foodName">Bavarian Prezel Sticks</span><span class="price">$9.49</span><br>3 Bavarian pretzel sticks, house-made 4 Kings Ale mustard, Blonde Ale cheese sauce.
        <br>
        <span class="pairing">Recommended pairing... 4Kings Brown Ale</span>
      </p>


      <p><span class="foodName">4 Kings Fried Pickles</span><span class="price">$7.49</span><br>Duck Deli pickle chips, 2 row grain breading, BBQ Ranch.
        <br>
        <span class="pairing">Recommended pairing... Flying Coffin IPA</span>
      </p>


      <p><span class="foodName">Chicken Wings</span><span class="price">$10.99</span><br>Jumbo chicken wings, carrots, celery, BBQ, Buffalo, Atomic, Honey-Sriracha, Teriyaki, Garlic-Parmesan, Bleu Cheese or Ranch.
        <br>
        <span class="pairing">Recommended pairing... Flying Coffin IPA</span>
      </p>

    </div>
    <div class="col-sm-6">
      <p><span class="foodName">Avocado Cilantro Hummus</span><span class="price">$7.49</span><br>Avocado, chick pea, cilantro, garlic, cumin, shallots, pita
        <br>
        <span class="pairing">Recommended pairing... Blonde Bomber</span>
      </p>

      <p><span class="foodName">Mini Pork Shanks</span><span class="price">$11.49</span><br>Mini pork shanks (3) BBQ, Buffalo, Atomic, Garlic Parm, Honey Sriracha, or Tequila Lime, house-made ranch or blue cheese
        <br>
        <span class="pairing">Recommended pairing... Flying Coffin IPA</span>
      </p>

      <p><span class="foodName">Chips & Salsa</span><span class="price">$6.99</span><br>Slasa rojo, tri colored chips
        <br>
        <span class="pairing">Recommended pairing... Dos Pilotos</span>
      </p>

    </div>
  </div>

  <h3 class="ammo centered">Soups and Salad</h3>
  <div class="row">
    <div class="col-sm-6">
      <p><span class="foodName">Props Salad</span><span class="price">$10.49</span><br>Arcadia mixed greens, tomato, cucumber, red onion and cheddar cheese served with your choice of House made bleu cheese, ranch, 1000 island, cheney Caesar or balsamic vinaigrette. <br>Add Grilled or Fried Chicken $3.00
        <br>
        <span class="pairing">Recommended pairing... Blonde Bomber Ale</span>
      </p>

      <p><span class="foodName">Props Caesar</span><span class="price">$10.49</span><br>Romaine, house-made croutons, shredded parmesan, cheney Caesar <br>Add Grilled Chicken $3.00
        <br>
        <span class="pairing">Recommended pairing... Blonde Bomber Ale</span>
      </p>



    </div>
    <div class="col-sm-6">
      <p><span class="foodName">Wedge Salad</span><span class="price">$10.49</span><br>Baby iceber, black berries, watermellon radish, cnadied pecans, manchego, house-made blue Cheese<br>
      <span class="pairing">Recommended pairing... Luckey Oneill Lager</span>
      </p>

      <p><span class="foodName">Props Award Winning Chili</span><span class="price">C up $4.49 Bowl $6.49</span><br>CAB 81/19 Beef, jalapeno, habanero, kidney & black beans, yellow, red and green peppers, 4 Kings Brown Ale, red onions, blend of seasonings.
        <br>
        <span class="pairing">Recommended pairing... Prop Oil Porter</span>
      </p>

    </div>
  </div>

  <h3 class="ammo centered">Sandwiches and Wraps</h3>
  <p class="comesWith">Served with your choice of fries, house made potato chips or side salad.</p>
  <div class="row">
    <div class="col-sm-6">
      <p><span class="foodName">Reuben</span><span class="price">$15.99</span><br>8 oz. of Duck Deli Pastrami, house made sauerkraut, Swiss cheese, and fresh made 1000 island served on marble rye bread.
        <br>
        <span class="pairing">Recommended pairing... 4 Kings Brown Ale</span>
      </p>

      <p><span class="foodName">Buffalo Chicken Wrap</span><span class="price">$11.99</span><br>Deep-fried chicken thigh, house0made bleu cheese dressing & buffalo sauce, blue cheese crumbles, celery spring mix, 13" flour tortilla
        <br>
        <span class="pairing">Recommended pairing... Flying COffin IPA</span>
      </p>

    </div>
    <div class="col-sm-6">
      <p><span class="foodName">Props Cubano</span><span class="price">$13.49</span><br>House smoked pork butt, Duck Deli ham, swiss cheese, Duck Deli pickles, artisan roll, cubano sauce
        <br>
        <span class="pairing">Recommended pairing... Lucky Oneill</span>
      </p>

      <p><span class="foodName">Grouper Sandwich</span><span class="price">$14.99</span><br>Fried or Blackened Grouper on a Brioche Roll with our house made Chipotle Aioli. Served with Lettuce, Tomato, and Pickle.
        <br>
        <span class="pairing">Recommended pairing... Blonde Bomber Ale</span>
      </p>

    </div>
  </div>

  <h3 class="ammo centered">Burgers</h3>
  <p class="comesWith">Served with your choice of fries house made potato chips or side salad</p>
  <div class="row">
    <div class="col-sm-6">
      <p><span class="foodName">Props Burger</span><span class="price">$13.49</span><br>80/20 CAB, American cheese, LTOP, brioche bun.
        <br>
        <span class="pairing">Recommended pairing... Lucky Oneill Lager</span>
      </p>

        <p><span class="foodName">Pickle Burger</span><span class="price">$13.49</span><br>80/20 CAB, Duck Deli fried pickles, bacon, provalone, jalapeno ranch, brioche bun
          <br>
          <span class="pairing">Recommended pairing... Flying Coffin IPA</span>
        </p>
      <p><span class="foodName">Smokehouse Burger</span><span class="price">$12.99</span><br>80/20 CAB, Props BBQ, smokehouse fried onions, bacon, cheddar jack cheese, brioche bun
        <br>
        <span class="pairing">Recommended pairing... Prop Oil Porter</span>
      </p>
    </div>

    <div class="col-sm-6">
      <p><span class="foodName">Pimento Burger</span><span class="price">$12.99</span><br>80/20​ CAB, fried jalapenos, pimento cheese, red onions, Duck Deli pickles, brioche bun
        <br>
        <span class="pairing">Recommended pairing... Flying Coffin IPA</span>
      </p>
      <p><span class="foodName">Props Bleu Burger</span><span class="price">$14.49</span><br>8oz. ground brisket/short rib, port blackberry/onion jam, arugala, stella gorgonzola, brioche bun
        <br>
        <span class="pairing">Recommended pairing... 4 Kings Brown Ale</span>
      </p>

    </div>
  </div>

  <h3 class="ammo centered">Entrees</h3>
  <div class="row">
    <div class="col-sm-6">
      <p><span class="foodName">Props Fish Tacos</span><span class="price">$10.99</span><br>White fish, slaw, black beans, flour tortillas, limes.
        <br>
        <span class="pairing">Recommended pairing... Blonde Blomber Ale</span>
      </p>

      <p><span class="foodName">Fish & Chips</span><span class="price">$10.99</span><br>North Atlantic cod, slaw, lemon, tartar sauce, and hand cut fries
        <br>
        <span class="pairing">Recommended pairing... Lucky Oneill</span>
      </p>

      <p><span class="foodName">Cajun Mac & Cheese</span><span class="price">$14.49</span><br>Cavatappi, smoked gruyere, white cheddar, cajun bechamel, andouille, ritz topping, green onion
        <br>
        <span class="pairing">Recommended pairing... Blonde Bomber Ale</span>
      </p>

    </div>

    <div class="col-sm-6">

      <p><span class="foodName">Buffalo Chicken Mac & Cheese (Our Signature Dish)</span><span class="price">$10.49</span><br>Pasta shells, buffalo chicken, cheddar jack cheese, parmesan, buffalo sauce, bleu cheese crumbles
        <br>
        <span class="pairing">Recommended pairing... Flying Coffin IPA</span>
      </p>

      <p><span class="foodName">Chicken Tender Basket</span><span class="price">$10.99</span><br>3​ chicken tenders, carrots, celery, ranch or bleu cheese dressing and hand cut fries.  Choose from BBQ, Buffalo, Atomic, Honey-Sriracha, teriyaki, or garlic parmesan.
        <br>
        <span class="pairing">Recommended pairing... Blonde Bomber Ale</span>
      </p>

      <p><span class="foodName">Props Smoked Platter</span><span class="price">$14.99</span><br>House​ Smoked Beef Brisket, Chicken leg quarter, Pork Butt, and our signature BBQ sauce. Served with Hand Cut Fries, Baked Beans and Texas Toast.
        <br>
        <span class="pairing">Recommended pairing... Luckey Oneill Lager</span>
      </p>

    </div>
  </div>

  <h3 class="ammo centered">Sides and Add Ons</h3>
  <div class="row">
    <div class="col-sm-6">
      <p><span class="foodName">Side Salad</span><span class="price">$4.99</span><br>Artisan mixed greens, lettuce, cherry tomato, red onion, cheddar jack cheese
      </p>

      <p><span class="foodName">Side Caesar</span><span class="price">$4.99</span><br>Romaine, parmesan, marble rye croutons, house made caesar dressing
      </p>

    </div>
    <div class="col-sm-6">
      <p><span class="foodName">Chili Cheese Fries</span><span class="price">$7.99</span>
      </p>

      <p><span class="foodName">Cheese Fries</span><span class="price">$5.99</span>
      </p>

      <p><span class="foodName">Bacon Cheese Fries</span><span class="price">$6.99</span>
      </p>

    </div>
  </div>
  <br>
  <br>
  <br>
</div>
