.ammo{
  font-family: military;
}

.centered{
  padding-top: 15vh;
  text-align: center;
}

.comesWith{
  text-align: center;
}

.foodName{
  font-size: 1.2em;
  font-weight: bold;
}

.menu{
  padding-top: 8vh;
}

.pairing{
  font-style: italic;
}

.price{
  float: right;
}

.words{
  color: white;
}

#route{
  color: inherit;
  cursor: default;
}

#route:hover{
  text-decoration: none;
}
