<div class="all">


  <div class="menu words">
    <h1 class="ammo centered" id="menTitle">Props Menu</h1>

    <h1 class="ammo centered">Lunch Menu
      <br>
      <span class="smaller">Mon-Fri 11a-3p</span>
    </h1>
    <hr>
    <div *ngFor="let item of items | async">
      <div *ngIf='item.lunchMenu; else notShow'>
        <div class="menuItem">
          <span class="foodName">{{item.title}}</span>
          <span class="price">${{item.price}}</span>
          <br>
          <span class="description">{{item.description}}</span>
          <br>
          <span class="pairing">Recommended pairing... {{item.pairing}}</span>
        </div>
      </div>
      <ng-template #notShow>
        <div class="dontShow">
        </div>
      </ng-template>
    </div>
    <hr>
    <h1 class="ammo centered">Starters</h1>
    <div *ngFor="let item of items | async">
      <div *ngIf='item.starter; else notShow'>
        <div class="menuItem">
          <span class="foodName">{{item.title}}</span><span class="price">${{item.price}}</span><br><span class="description">{{item.description}}</span>
          <br>
          <span class="pairing">Recommended pairing... {{item.pairing}}</span>
        </div>
      </div>
      <ng-template #notShow>
        <div class="dontShow">
        </div>
      </ng-template>
    </div>

    <h1 class="ammo centered">Soups and Salad</h1>
    <div *ngFor="let item of items | async">
      <div *ngIf='item.soupSalad; else notShow'>
        <div class="menuItem">
          <span class="foodName">{{item.title}}</span><span class="price">${{item.price}}</span><br><span class="description">{{item.description}}</span>
          <br>
          <span class="pairing">Recommended pairing... {{item.pairing}}</span>
        </div>
      </div>
      <ng-template #notShow>
        <div class="dontShow">
        </div>
      </ng-template>
    </div>
    <h1 class="ammo centered">Sandwiches and Wraps</h1>
    <p class="comesWith">Served with your choice of fries, house made potato chips or side salad.</p>
    <div *ngFor="let item of items | async">
      <div *ngIf='item.sanWrap; else notShow'>
        <div class="menuItem">
          <span class="foodName">{{item.title}}</span><span class="price">${{item.price}}</span><br><span class="description">{{item.description}}</span>
          <br>
          <span class="pairing">Recommended pairing... {{item.pairing}}</span>
        </div>
      </div>
      <ng-template #notShow>
        <div class="dontShow">
        </div>
      </ng-template>
    </div>
    <h1 class="ammo centered">Burgers</h1>
    <p class="comesWith">Served with your choice of fries house made potato chips or side salad</p>
    <div *ngFor="let item of items | async">
      <div *ngIf='item.burger; else notShow'>
        <div class="menuItem">
          <span class="foodName">{{item.title}}</span><span class="price">${{item.price}}</span><br><span class="description">{{item.description}}</span>
          <br>
          <span class="pairing">Recommended pairing... {{item.pairing}}</span>
        </div>
      </div>
      <ng-template #notShow>
        <div class="dontShow">
        </div>
      </ng-template>
    </div>
    <h1 class="ammo centered">Entrees</h1>
    <div *ngFor="let item of items | async">
      <div *ngIf='item.entree; else notShow'>
        <div class="menuItem">
          <span class="foodName">{{item.title}}</span><span class="price">${{item.price}}</span><br><span class="description">{{item.description}}</span>
          <br>
          <span class="pairing">Recommended pairing... {{item.pairing}}</span>
        </div>
      </div>
      <ng-template #notShow>
        <div class="dontShow">
        </div>
      </ng-template>
    </div>
    <h1 class="ammo centered">Sides and Add Ons</h1>
    <div *ngFor="let item of items | async">
      <div *ngIf='item.side; else notShow'>
        <div class="menuItem">
          <span class="foodName">{{item.title}}</span><span class="price">${{item.price}}</span><br><span class="description">{{item.description}}</span>
          <br>
          <span class="pairing">Recommended pairing... {{item.pairing}}</span>
        </div>
      </div>
      <ng-template #notShow>
        <div class="dontShow">
        </div>
      </ng-template>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>
