<div class="menu words">
  <h1 class="ammo centered">Props Brewery and Grill Menu</h1>

  <h3 class="ammo centered">Starters</h3>
  <div class="row">
    <div class="col-sm-6">
      <p><span class="foodName">Bavarian Prezel Sticks</span><span class="price">$9.49</span><br>Three Bavarian pretzel sticks brushed with our 4 Kings Brown Ale served with spicy mustard or cheese sauce</p>
      <p><span class="foodName">4 Kings Fried Pickles</span><span class="price">$6.49</span><br>4 Kings Brown Ale beer battered pickle chips served with a BBQ ranch dipping sauce</p>
      <p><span class="foodName">Chicken Wings</span><span class="price">$10.99</span><br>Jumbo chicken wings, carrots, celery, BBQ, buffalo, atomic, honey-Sriracha, teriyaki, or garlic-parmesan.  Served with Ranch or Blue Cheese</p>
    </div>
    <div class="col-sm-6">
      <p><span class="foodName">Fried Cheese Curds</span><span class="price">$8.99</span><br>Fried cheese curds served with sriracha dipping sauce</p>
      <p><span class="foodName">Roasted Apple Hummus</span><span class="price">$6.99</span><br>Red delicious, chick pea, apple juice and almond butter served with cinnamon fried Pita</p>
    </div>
  </div>

  <h3 class="ammo centered">Soups and Salad</h3>
  <div class="row">
    <div class="col-sm-6">
      <p><span class="foodName">Props Salad</span><span class="price">$9.49</span><br>Arcadia mixed greens, tomato, cucumber, red onion and cheddar cheese served with your choice of House made bleu cheese, ranch, 1000 island, cheney Caesar or balsamic vinaigrette. <br>Add Grilled or Fried Chicken $3.00</p>
      <p><span class="foodName">Props Caesar</span><span class="price">$8.89</span><br>Romaine, marble rye croutons, shredded parmesan, house made Caesar dressing <br>Add Grilled Chicken $3.00</p>
      <p><span class="foodName">Fall Wedge Salad</span><span class="price">$9.99</span><br>Romaine, marble rye croutons, shredded parmesan, house made Caesar dressing.</p>
      <p><span class="foodName">Irish Stew</span><span class="price">$11.99</span><br>A hearty stew made with New Zealand Lamb, potatoes, carrots, pearl onions, peas, and our Ghostrider Stout served with artisan bread.</p>
    </div>
    <div class="col-sm-6">
      <p><span class="foodName">Southwest Rice Bowl</span><span class="price">$10.49</span><br>Grilled​ chicken, Black Beans, Corn, Arugula, and our Chipotle Sauce served over a bowl of rice.</p>
      <p><span class="foodName">Teriyaki Rice Bowl</span><span class="price">$10.49</span><br>Grilled chicken, Pineapple, Zucchini Squash, Red Pepper Salsa, and Teriyaki Sauce served over a bowl of rice.</p>
      <p><span class="foodName">Props Award Winning Chili</span><span class="price">$4.49</span><br>Certified Angus Beef, jalapeno, habanero, kidney &black beans, yellow red and green peppers, 4 Kings Brown Ale, red onions, blend of seasonings. <br>Bowl $6.49</p>
    </div>
  </div>

  <h3 class="ammo centered">Sandwiches and Wraps</h3>
  <div class="row">
    <div class="col-sm-6">
      <p><span class="foodName">Reuben</span><span class="price">$12.99</span><br>8 oz. of Duck Deli Pastrami, house made sauerkraut, Swiss cheese, and fresh made 1000 island served on marble rye bread.</p>
      <p><span class="foodName">Autumn Harvest Panini</span><span class="price">$13.99</span><br>Smoked Turkey, Gouda, Granny Smith Apple, Spinach, and Apple Butter Dijon, served on multigrain bread.</p>
      <p><span class="foodName">Buffalo Chicken Wrap</span><span class="price">$10.49</span><br>12" wrap, Arcadia spring mix, jalapeno ranch, cheddar jack cheese, red onion</p>
      <p><span class="foodName">Chicken Caesar Wrap</span><span class="price">$10.49</span><br>12" wrap, romaine, shredded parmesan cheese, bacon, house made Caesar dressing.</p>
    </div>
    <div class="col-sm-6">
      <p><span class="foodName">Props Cubano</span><span class="price">$11.49</span><br>House smoked pork butt, Duck Deli ham, swiss cheese, Duck Deli pickles, artisan roll, cubano sauce</p>
      <p><span class="foodName">Grouper Sandwich</span><span class="price">$13.99</span><br>Fried or Blackened Grouper on a Brioche Roll with our house made Chipotle Aioli. Served with Lettuce, Tomato, and Pickle.</p>
      <p><span class="foodName">Chicken Bacon Ranch</span><span class="price">$12.99</span><br>Grilled or Fried Chicken tenders, Ghost Pepper Cheese, Jalapeno Ranch served on Sourdough bread with lettuce, Tomato, and Pickle.</p>
    </div>
  </div>

  <h3 class="ammo centered">Burgers</h3>
  <div class="row">
    <div class="col-sm-6">
      <p><span class="foodName">Props Burger</span><span class="price">$11.49</span><br>80/20 CAB, American cheese, lettuce, tomato, onion, pickle, brioche bun.</p>
      <p><span class="foodName">Pimento Burger</span><span class="price">$12.99</span><br>80/20​ CAB, fried jalapenos, pimento cheese, red onions, Duck Deli pickles, brioche bun</p>
      <p><span class="foodName">Black & Bleu</span><span class="price">$12.99</span><br>80/20 CAB, bleu cheese crumbles, lettuce tomato, onion, pickle, blackening seasoning, brioche bun</p>
    </div>
    <div class="col-sm-6">
      <p><span class="foodName">Pickle Burger</span><span class="price">$12.99</span><br>80/20 CAB, Duck Deli fried pickles, bacon, provalone, jalapeno ranch, brioche bun</p>
      <p><span class="foodName">Smokehouse Burger</span><span class="price">$12.99</span><br>80/20 CAB, Props BBQ, smokehouse fried onions, bacon, cheddar jack cheese, brioche bun</p>
      <p><span class="foodName">Wagyu Burger</span><span class="price">$15.49</span><br>Greg Norman 8 oz. Wagyu Ground Beef, Props Jam, Lettuce, Pickle, and Smoked Gouda served on a Brioche Roll.</p>
    </div>
  </div>

  <h3 class="ammo centered">Entrees</h3>
  <div class="row">
    <div class="col-sm-6">
      <p><span class="foodName">Props Fish Tacos</span><span class="price">$10.99</span><br>White fish, slaw, black beans, flour tortillas, limes.</p>
      <p><span class="foodName">Fish & Chips</span><span class="price">$10.99</span><br>North Atlantic cod, slaw, lemon, tartar sauce, and hand cut fries</p>
      <p><span class="foodName">Buffalo Chicken Mac & Cheese</span><span class="price">$10.49</span><br>Pasta shells, buffalo chicken, cheddar jack cheese, parmesan, buffalo sauce, bleu cheese crumbles</p>
    </div>
    <div class="col-sm-6">
      <p><span class="foodName">Chicken Tender Basket</span><span class="price">$10.99</span><br>3​ chicken tenders, carrots, celery, ranch or bleu cheese dressing and hand cut fries.  Choose from BBQ, Buffalo, Atomic, Honey-Sriracha, teriyaki, or garlic parmesan.</p>
      <p><span class="foodName">Props Smoked Platter</span><span class="price">$14.99</span><br>House​ Smoked Beef Brisket, Chicken leg quarter, Pork Butt, and our signature BBQ sauce. Served with Hand Cut Fries, Baked Beans and Texas Toast.</p>
    </div>
  </div>

  <h3 class="ammo centered">Sides and Add Ons</h3>
  <div class="row">
    <div class="col-sm-6">
      <p><span class="foodName">Side Salad</span><span class="price">$4.99</span><br>Artisan mixed greens, lettuce, cherry tomato, red onion, cheddar jack cheese</p>
      <p><span class="foodName">Side Caesar</span><span class="price">$4.99</span><br>Romaine, parmesan, marble rye croutons, house made caesar dressing</p>
    </div>
    <div class="col-sm-6">
      <p><span class="foodName">Chili Cheese Fries</span><span class="price">$7.99</span></p>
      <p><span class="foodName">Cheese Fries</span><span class="price">$5.99</span></p>
      <p><span class="foodName">Bacon Cheese Fries</span><span class="price">$6.99</span></p>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
