<h1 class="ammo" id="name">Props Brewery / Taproom</h1>

<img id="restImage" src="/../../assets/images/taproom.jpg" alt="Props Brewery and Grill">

<div id="side">
  <div class="hours">
    <h5>Hours of Operation:</h5>
    <p>
      S - closed
      <br>
      M - closed
      <br>
      T - 3p - 9p
      <br>
      W - 3p - 9p
      <br>
      T - 3p - 9p
      <br>
      F - 3p - 9p
      <br>
      S - 12p - 6p
    </p>
    <a href="https://www.google.com/maps/dir//props+brewery+taproom+125+lovejoy+road+fort+walton+beach">Directions</a>
    <br>
    <span>125 Lovejoy Rd</span>
    <br>
    <span>Fort Walton Beach</span>
    <br>
    <span>(850) 586-7117 ext. 2</span>
  </div>
  <br>

  <h6>Add to our 5 star reviews!</h6>

  <a href="https://www.yelp.com/biz/props-brewery-and-taproom-fort-walton-beach" target="_blank"><img class="revlogos" src="/../../assets/images/yelp-logo.jpeg" alt="props yelp"></a>

  <a href="https://www.tripadvisor.com/Restaurant_Review-g34234-d10592453-Reviews-Props_Brewery_Tap_Room-Fort_Walton_Beach_Florida.html" target="_blank"><img class="revlogos" src="/../../assets/images/tripadvisor.jpg" alt="props trip advisor"></a>

  <a href="https://www.google.com/search?rlz=1C1ASRM_enUS777US777&biw=1920&bih=947&ei=574WW5bgGNGotQW944_YCw&q=props+brewery+and+grill+reviews&oq=props+brewery+and+grill+reviews&gs_l=psy-ab.3..35i39k1.24768.25565.0.26319.2.2.0.0.0.0.73.144.2.2.0....0...1.1.64.psy-ab..0.2.144....0.qAJSikvSRk4" target="_blank"><img class="revlogos" src="/../../assets/images/google-icon.png" alt="props google reviews"></a>
  <br>
  <br>
  <p>Master Brewers Association Members</p>
  <p>Florida Brewerys Guild Members</p>
  <p>American Brewers Association Members</p>
</div>

<div class="ontap">
  <div id="beerMenu" *ngFor="let onTap of onTap | async">
    <h2 class="ammo" *ngIf='onTap.pub === true; else notShow'>
      <span class="title"> {{onTap.title}} </span>
      <span class="beerDescription"> {{onTap.style}}</span>
      <span class="abv">abv {{onTap.abv}} ibu {{onTap.ibu}}</span>
      <br>
      <span class="beerDescription"> {{onTap.description}}</span>
    </h2>
    <ng-template #notShow>
      <div class="dontShow">
      </div>
    </ng-template>
  </div>
</div>

<div class="picCollage">
  <div class="row">
    <div class="col-md-4">
      <img class="collagePic" src="/../../assets/images/fromdoor.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="collagePic" src="/../../assets/images/taproom2.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="collagePic" src="/../../assets/images/taproom3.jpg" alt="">
    </div>
  </div>
  <div class="row secondrow">
    <div class="col-md-4">
      <img class="collagePic" src="/../../assets/images/dosCans.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="collagePic" src="/../../assets/images/malts.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="collagePic" src="/../../assets/images/fermenter.jpg" alt="">
    </div>
  </div>
</div>
