<div *ngIf="showloader == true" id="soon" >
  <h3></h3>
</div>


<div class="nav ammo">
  <div class="navCol">
    <p id='navImage'>
      <img routerLink="" src="../assets/images/propsLogo.png" alt="Props Craft Brewery Logo">
    </p>
  </div>
  <div class="navCol" id='navText'>
    <a routerLink="">Home</a>
    <a routerLink="beers">Beers</a>
    <a id="navMenu" routerLink="menu">Menu</a>
    <a routerLink="pub">Pub</a>
    <a routerLink="alehouse">Alehouse</a>
    <a routerLink="taproom">Brewery</a>
    <a href="http://propsmerch.wixsite.com/website" target="_blank">Merch</a>
    <a [routerLink]="['/taproom']" fragment="contractBrew">ContractBrew</a> <a routerLink="culture">Culture</a>
    <a target="_blank" href="https://www.facebook.com/pg/PropsBreweryAndGrill/events/?ref=page_internal">Events</a>
  </div>

  <!-- <div class="navTwo">
  </div> -->
</div>

<img id="{{menuButton}}" (click)="insertID()" src="../assets/images/hamburger.png">
<p id='navImage'>
  <img routerLink="" src="../assets/images/propsLogo.png" alt="Props Craft Brewery Logo">
</p>
<div id='{{menuID}}'>
  <p class="mobileNavWords" (click)="insertID()">X Close</p>
  <p><a class="mobileNavWords" (click)="insertID()" routerLink="">Home</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" routerLink="beers">Beers</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" id="navMenu" routerLink="menu">Menu</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" routerLink="pub">Pub</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" routerLink="alehouse">Alehouse</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" routerLink="taproom">Brewery</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" href="http://propsmerch.wixsite.com/website" target="_blank">Merch</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" [routerLink]="['/taproom']" fragment="contractBrew">ContractBrew</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" routerLink="culture">Culture</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" target="_blank" href="https://www.facebook.com/pg/PropsBreweryAndGrill/events/?ref=page_internal">Events</a></p>
</div>

<router-outlet></router-outlet>

<div id="foot">
  <h4>Props Craft Brewery</h4>
  <p>125 Lovejoy Rd NW - propsbrewery@gmail.com - (850) 586-7117 - <a href="https://www.instagram.com/explore/locations/347867441/props-craft-brewery/"><img id="ig" src="/../assets/images/ig.png"></a><a href="https://www.facebook.com/PropsBreweryAndGrill/"><img id="fb" src="/../assets/images/fb.png"></a></p>
</div>
