@font-face {
    font-family: military;
    src: url("../assets/fonts/boston.ttf") format("opentype");
}

a{
  cursor: pointer;
  text-decoration: none;
}

.ammo{
  font-family: military;
}


.mobileNavWords{
  color: white;
  font-size: 1.3em;
  font-weight: bold;
}

.nav{
  font-size: 2em;
  z-index: 9;
}

.navOne{
  margin-top: 3vh;
  text-align: right;
  float: right;
  position: absolute;
  right: 20px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
.navTwo{
  margin-top: 9vh;
  text-align: right;
  float: right;
  position: absolute;
  right: 20px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav a{
  margin-left: .5em;
  margin-right: .5em;
  text-align: right;
  display: inline-block;
  color: rgb(229, 229, 229);
  font-size: .8em;
}

.show{
opacity: 1 !important;
}

.step{
opacity: 0;
transition: .5s ease-in-out all;
}

#fb{
  min-width: 3em;
  min-height: 3em;
}

#foot{
  font-family: copperplate gothic;
  text-align: center;
  padding-top: 12vh;
  padding-bottom: 2vh;
  color: white;
  background-color: rgb(27,25,25);
}

#foot img{
  width: 30px;
  height: 30px;
}

#menuButton{
  display: none;
}

#ig{
  max-width: 2em;
  max-height: 2em;
}

#navHide{
  display: none;
}

#navImage{
  height: 10em;
  width: 10em;
  float: left;
  position: absolute;
  left: 6px;
  top: 10px;
  z-index: 10;
}

#navMobile{
  display: none;
}

#soon{
  text-align: center;
  background-color: #c0c5ce;
  padding-bottom: 1.5px;
}

@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 812px){

    .nav{
      margin-top: 0px;
      display: none;
    }

    .navOne{
      margin-top: 0px;
    }
    .navTwo{
      margin-top: 0px;
    }

    #foot{
      padding-top: 10vh;
      font-size: 1.1em;
    }

    #menuButton{
      height: 40px;
      width: 40px;
      display: block;
      float: left;
      position: absolute;
      z-index: 10;
      left: 8px;
      top: 8px;
      /* background-color: rgba(0, 0, 0, 0.5); */
      text-decoration: underline;
      font-family: military;
    }

    #menuButtonHide{
      display: none;
    }

    #navHide{
      visibility: hidden;
    }

    #navImage{
      height: 80px;
      width: 80px;
      position: relative;
      top: 0px;
    }

    #navRight{
      /* display: none; */
      float: right;
      position: fixed;
      right: 10px;
      top: 5px;
      z-index: 10;
    }

    #navMobile{
      transition: .5s ease-in-out all;
      display: block;
      position: absolute;
      z-index: 9;
      background-color: rgba(0, 0, 0, 0.5);
    }



}
/* @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 411px){

    #navMenu{
      margin-right: 22%;
    }

}
@media only screen
  and (min-device-width: 412px)
  and (max-device-width: 500px){

    #navMenu{
      margin-right: 29%;
    }

} */
