@font-face {
    font-family: military;
    src: url("../assets/fonts/boston.ttf") format("opentype");
}

a{
  cursor: pointer;
  text-decoration: none;
}

.ammo{
  font-family: military;
}

.container{
  background-color: rgb(32,30,30);
  min-height: 98vh;
  position: relative;
  color: white;
}

.nav{
  padding-top: 3vh;
  text-align: right;
  float: right;
  position: absolute;
  right: 0px;
}

.nav a{
  margin-left: .5em;
  margin-right: .5em;
  text-align: right;
  display: inline-block;
  color: white;
  font-size: 1.3em;
}

.show{
opacity: 1 !important;
}
.step{
opacity: 0;
transition: .5s ease-in-out all;
}

#fb{
  max-width: 3em;
  max-height: 3em;
}

#foot{
  font-family: copperplate gothic;
  text-align: center;
  padding-top: 12vh;
  padding-bottom: 2vh;
  color: white;
}

#ig{
  max-width: 2em;
  max-height: 2em;
}

#foot img{
  width: 30px;
  height: 30px;
}

#navImage{
  height: 8em;
  width: 8em;
  float: left;
  position: absolute;
  left: 4px;
  top: 4px;
}

#soon{
  text-align: center;
  background-color: #c0c5ce;
  padding-bottom: 1.5px;
}

#total{
  min-width: 95vw;
  min-height: 98vh;
  background-image: url("../assets/images/metalBG2.jpg");
  background-size: cover;
}

@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 500px){

    .nav{
      position: absolute;
      right: 0px;
      width: 40%;
    }
    .nav a {
      padding-bottom: 2vh;
      font-size: 1em;
    }

    #navImage{
      height: 6em;
      width: 6em;
    }

    #foot{
      padding-top: 10vh;
    }
}
/* @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 411px){

    #navMenu{
      margin-right: 22%;
    }

}
@media only screen
  and (min-device-width: 412px)
  and (max-device-width: 500px){

    #navMenu{
      margin-right: 29%;
    }

} */
