@font-face {
    font-family: military;
    src: url("../assets/fonts/boston.ttf") format("opentype");
}

a{
  cursor: pointer;
  text-decoration: none;
}

.ammo{
  font-family: military;
}

.container{
  background-color: rgb(32,30,30);
  min-height: 98vh;
}

.nav{
  padding-top: 3vh;
}

.nav a{
  margin: 0 auto;
  display: inline-block;
  color: white;
  font-size: 1.5em;
}

#total{
  min-width: 95vw;
  min-height: 98vh;
  background-image: url("../assets/images/metalBG2.jpg");
  background-size: cover;
}

@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .nav a{
      margin-right: 1em;
    }

}
