<div *ngIf="showloader == true" id="soon" >
  <h3></h3>
</div>


<div class="nav ammo">
  <div  id="navCol1">
    <p id='navImage'>
      <img routerLink="" src="../assets/images/propsLogo.png" alt="Props Craft Brewery Logo">
    </p>
  </div>
  <div class="navCol2Right" id='navText navCol2'>
    <a class="navHover" routerLink="">Home</a>
    <a class="navHover" routerLink="beers">Beers</a>
    <a class="navHover" id="navMenu" routerLink="menu">Menu</a>
    <a class="navHover" href="http://propsmerch.wixsite.com/website" target="_blank">Merch</a>
    <a class="navHover" [routerLink]="['/taproom']" fragment="contractBrew">ContractBrew</a>
    <a class="navHover" routerLink="culture">Culture</a>
    <a class="navHover" target="_blank" href="https://www.facebook.com/pg/PropsBreweryAndGrill/events/?ref=page_internal">Events</a>
    <br>
    <a id="locations">Locations -</a>
    <a class="navHover" routerLink="pub">Pub</a>
    <a class="navHover" routerLink="alehouse">Alehouse</a>
    <a class="navHover" routerLink="taproom">Brewery</a>
  </div>
</div>

<img id="{{menuButton}}" (click)="insertID()" src="../assets/images/hamburger.png">
<p id='navImageMobile'>
  <img routerLink="" src="../assets/images/propsLogo.png" alt="Props Craft Brewery Logo">
</p>
<div id='{{menuID}}'>
  <p class="mobileNavWords" (click)="insertID()">X Close</p>
  <p><a class="mobileNavWords" (click)="insertID()" routerLink="">Home</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" routerLink="beers">Beers</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" id="navMenu" routerLink="menu">Menu</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" routerLink="pub">Pub</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" routerLink="alehouse">Alehouse</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" routerLink="taproom">Brewery</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" href="http://propsmerch.wixsite.com/website" target="_blank">Merch</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" [routerLink]="['/taproom']" fragment="contractBrew">ContractBrew</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" routerLink="culture">Culture</a></p>
  <p><a class="mobileNavWords" (click)="insertID()" target="_blank" href="https://www.facebook.com/pg/PropsBreweryAndGrill/events/?ref=page_internal">Events</a></p>
</div>

<router-outlet></router-outlet>

<div id="foot">
  <p>
     <span>Follow us for the most up to date info!</span>
     <a href="https://www.instagram.com/props_brewery/"><img id="ig" src="/../assets/images/ig.png"></a>
    <a href="https://www.facebook.com/PropsBreweryAndGrill/"><img id="fb" src="/../assets/images/fb.png"></a>
  </p>
</div>
