<h1 class="ammo" id="name">Props Brewery / Grill</h1>

<img id="restImage" src="/../../assets/images/pub.jpg" alt="Props Brewery and Grill">

<div id="side">
  <h4>Not to boast but...</h4>
    <p>Best Burger in FWB<br>-Southern Living</p>
    <p>Hall of Fame<br>-TripAdvisor</p>
    <p>4+ STARS<br>-yelp</p>

  <h4>We are proud of our reviews. Check 'em out!</h4>

  <a href="https://www.yelp.com/biz/props-brewery-and-grill-fort-walton-beach" target="_blank"><img class="revlogos" src="/../../assets/images/yelp-logo.jpeg" alt="props yelp"></a>

  <a href="https://www.tripadvisor.com/Restaurant_Review-g34234-d2441129-Reviews-Props_Craft_Brewery_Grill-Fort_Walton_Beach_Florida.html" target="_blank"><img class="revlogos" src="/../../assets/images/tripadvisor.jpg" alt="props trip advisor"></a>

  <a href="https://www.google.com/search?rlz=1C1ASRM_enUS777US777&biw=1920&bih=947&ei=574WW5bgGNGotQW944_YCw&q=props+brewery+and+grill+reviews&oq=props+brewery+and+grill+reviews&gs_l=psy-ab.3..35i39k1.24768.25565.0.26319.2.2.0.0.0.0.73.144.2.2.0....0...1.1.64.psy-ab..0.2.144....0.qAJSikvSRk4" target="_blank"><img class="revlogos" src="/../../assets/images/google-icon.png" alt="props google reviews"></a>

  <div class="hours">
    <h5>Hours of Operation:</h5>
      <p>
        S - 11a - 11p
        <br>
        M - 11a - 11p
        <br>
        T - 11a -11p
        <br>
        W - 11a -11p
        <br>
        T - 11a -11p
        <br>
        F - 11a -11p
        <br>
        S - 11a -11p
      </p>
      <a href="https://www.google.com/maps/dir//props+brewery+taproom+255+miracle+strip+parkway+fort+walton+beach" target="_blank">Directions</a>
      <br>
      <span>255 Miracle Strip Pkwy</span>
      <br>
      <span>Fort Walton Beach</span>
      <br>
      <span>(850) 586-7117 ext. 1</span>
  </div>
</div>

<div class="ontap">
  <h1 class="ammo">Current List of Beers On Tap</h1>
  <hr>
  <div id="beerMenu" *ngFor="let onTap of onTap | async">
    <h2 class="ammo" *ngIf='onTap.pub === true; elseBlock'> <span class="beerName"> {{onTap.title}} -</span> <span class="beerDescription">{{onTap.description}}</span></h2>
  </div>
</div>

<div class="reviews">
  <h1>Helpful Reviews</h1>
  <h4>Absolute Awesome Dining Experience</h4>
  <h5>First let me say I’ve been in the Ft Walton Beach area for a few days and eaten at seafood restaurants the previous three nights. I had the blackened grouper sandwich at Props and it put everything I’ve eaten the previous three nights to shame. It was absolutely wonderful! It is so good, I’m still at Props writing this review. <br>- Tom F </h5>
  <h4>Great Little Place</h4>
  <h5>Great little out of the way place that serves up favorites as well as some new plates. The Lobster Mac and cheese was really yummy and the club was pretty awesome too. It was a nice change of pace from the typical tourist traps. <br>- Bill W</h5>
  <h4>One Friendly Place</h4>
  <h5>Excellent fish tacos and great beer brewed at the pub. Excellent service by a friendly face on two visits. This place can't be missed. good entertainment on Friday nights, too. <br>- Dave W</h5>
</div>

<div class="picCollage">
  <div class="row">
    <div class="col-md-4">
      <img class="collagePic" src="/../../assets/images/taproom.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="collagePic" src="/../../assets/images/taproom.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="collagePic" src="/../../assets/images/taproom.jpg" alt="">
    </div>
  </div>
  <div class="row secondrow">
    <div class="col-md-4">
      <img class="collagePic" src="/../../assets/images/taproom.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="collagePic" src="/../../assets/images/taproom.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="collagePic" src="/../../assets/images/taproom.jpg" alt="">
    </div>
  </div>
</div>
