<div class="container">

  <div id="logo">
    <img id="homePic" src="/../../assets/images/bWBlurr.jpeg" alt="Props Logo">
  </div>
  <h1 class="bigHeader words ammo" id="veteran">Veteran Owned. Veteran Operated.</h1>
  <div id="beers">
    <div class="row">
      <img class="col-sm-3  beer" (click)="insertText('blonde')" src="/../../assets/images/blonde.png" alt="Blonde Bomber">
      <img class="col-sm-3  beer" (click)="insertText('dos')" src="/../../assets/images/dosPilotos.png" alt="Dos Pilotos">
      <img class="col-sm-3  beer" (click)="insertText('coffin')" src="/../../assets/images/flyingCoffin.png" alt="Flying Coffin">
    </div>
    <h4 class="words beerDescription">{{beerDescription}}</h4>
    <div class="row">
      <img class="col-sm-3  beer" (click)="insertText('luckey')" src="/../../assets/images/luckeyO.png" alt="Luckey O'Neill">
      <img class="col-sm-3  beer" id="smallHide" (click)="insertText('kings')" src="/../../assets/images/4kings.png" alt="Four Kings">
      <img class="col-sm-3  beer" (click)="insertText('porter')" src="/../../assets/images/prop-oil-porter.png" alt="Prop Oil Porter">
    </div>
  </div>
  <br>
  <h3 class="words"><a routerLink="beers">Our Beers</a></h3>

  <div class="words" id="about">
    <h1 class="bigHeader ammo">Our Culture</h1>
    <h2>Brew Beer. <span>Drink Beer.</span> <span>Have Fun Doing it!</span></h2>
    <h3><a routerLink="culture">Who We Are</a></h3>
  </div>

  <div class="words" id="visit">
    <h1 class="bigHeader ammo">Visit Us</h1>
    <div class="row">
      <div class="col-sm-6">
        <h2><a href="https://www.google.com/maps/dir//props+brewery+taproom+125+lovejoy+road+fort+walton+beach" target="_blank">Brewery & Taproom</a></h2>
        <span><a href="https://www.google.com/maps/dir//props+brewery+taproom+125+lovejoy+road+fort+walton+beach" target="_blank">Directions</a></span>
        <br>
        <span>125 Lovejoy Rd</span>
        <br>
        <span>Fort Walton Beach</span>
        <br>
        <span>(850) 586-7117</span>
      </div>
      <div class="col-sm-6">
        <h2><a href="https://www.google.com/maps/dir//props+brewery+taproom+255+miracle+strip+parkway+fort+walton+beach" target="_blank">Brewery & Grill</a></h2>
        <span><a href="https://www.google.com/maps/dir//props+brewery+taproom+255+miracle+strip+parkway+fort+walton+beach" target="_blank">Directions</a></span>
        <br>
        <span>255 Miracle Strip Pkwy</span>
        <br>
        <span>Fort Walton Beach</span>
        <br>
        <span>(850) 586-7117</span>
      </div>
    </div>
    <div class="row">
      <img class="gMaps col-sm-12" src="/../../assets/images/grill.png" alt="">
    </div>
    <div class="col-sm-6" id="note">
      <span>Note: We don't serve food at the taproom, but you can bring food in. Also, the taproom is dog friendly!</span>
    </div>
  </div>

</div>
