@keyframes aboutImageFadeIn {
  0% {
    opacity: 0;
  }

  33%{
    opacity: 1
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;

  }
}

@keyframes veteranFadeIn {
  0% {
    font-size: 50%;
    opacity: 0;
  }

  100% {
    opacity: 1;

  }
}

a{
  color: rgb(229, 229, 229);
}

a:hover{
  color: rgb(225,173,73);
  text-decoration: underline;
  transform: scale(1.1);
}

.ammo{
  font-family: military;
  color: rgb(229, 229, 229);
}


.beerImage {
  text-align: center;
  padding-top: 0px;
}

.beerImage img{
  text-align: center;
  width: 20vw;
  height: auto;
  margin: 0 4vw 0 4vw;
}

.beerImage img:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.bigHeader{
  font-size: 700%;
  color: rgb(229, 229, 229);
}

.gMaps{
  max-height: 85vh;
  max-width: 85vw;
}

.row{
  max-width: 100vw;
  margin: 0;
}

.smallHeader{
  font-size: 6em;
}

.words{
  color: rgb(229, 229, 229);
  text-align: center;
}

#about{
  border-radius: 25px;
  padding-bottom: 6vh;
  padding-top: 9vh;
  background-color: rgb(27,25,25);
}

#about h3{
  margin-top: 3vh;
}


#aboutImage{
  border-radius: 15px;
  width: 60%;
  height: auto;
  margin-bottom: 3vh;
}

#all{
  z-index: -1;
}

#beerDescription{
  margin: 25px 0 0px 0;
  font-size: 2em;
  background-color: rgba(15,15,15,.7);
}

#beers{
  padding-bottom: 5vh;
}

#beers h3{
  padding-top: 4vh;
}

#homePic{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

#mapLeft{
  display: block;
  position: absolute;
  top: 70%;
  left: 15%;
  width: 15%;
  height: 20%;
}

#mapNiceville{
  display: block;
  position: absolute;
  top: 26%;
  left: 75%;
  width: 15%;
  height: 15%;
}

#mapRight{
  display: block;
  position: absolute;
  top: 80%;
  left: 28%;
  width: 15%;
  height: 15%;
}

#owners{
  max-width: 100%;
}


#veteran{
  padding-top: 85vh;
  padding-bottom: 10vh;
  margin-bottom: 0px;
  animation-name: veteranFadeIn;
  animation-duration: 1s;
}

#visit{
  padding-top: 9vh;
  position: relative;
}

#visit span{
  font-size: 1.2em;
  font-weight: bold;
}

@media only screen
  and (min-device-width: 360px)
  and (max-device-width: 812px){
    a{
      text-decoration: underline;
    }

    .bigHeader{
      font-size: 5em;
    }

    .gMaps{
      display: none;
    }

    .smallHeader{
      font-size: 3.5em;
    }

    #about{
      padding-bottom: 10vh;
      padding-top: 10vh;
      border-radius: 0px;
    }

    #about img{
     width: 95%;
     height: auto;
    }

    #about span{
      display: block;
    }

    #beerDescription{
      display: none;
    }

    #beers{
      background-color: black;
    }

    #homePic{
      position: relative;
      height: 60vh;
      width: 100vw;
      z-index: auto;
      /* margin-top: -15vh; */
    }

    #note{
      margin-top: 2vh;
      font-size: .8em;
    }

    #smallHide{
      display: none;
    }

    #veteran{
      font-size: 3.5em;
      background-color: black;
      padding-top: 3vh;
      padding-bottom: 0px;
    }

    #visit{
      background-color: black;
    }

}
@media only screen
  and (min-device-width: 813px)
  and (max-device-width: 1900px){

    #veteran span{
      display: block;
    }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px){

  a{
    text-decoration: underline;
  }

  .beerDescription{
    display: none;
  }

  .bigHeader{
    font-size: 5em;
  }

  .gMaps{
    display: none;
  }

  .smallHeader{
    font-size: 3.5em;
  }

  #about{
    padding-bottom: 10vh;
    padding-top: 10vh;
    border-radius: 0px;
  }

  #about img{
   width: 95%;
   height: auto;
  }

  #about span{
    display: block;
  }

  #beers{
    background-color: black;
  }

  #homePic{
    position: relative;
    height: 60vh;
    width: 100vw;
    z-index: auto;
    /* margin-top: -15vh; */
  }

  #note{
    margin-top: 2vh;
    font-size: .8em;
  }

  #smallHide{
    display: none;
  }

  #veteran{
    font-size: 3.5em;
    background-color: black;
    padding-top: 3vh;
    padding-bottom: 0px;
  }

  #visit{
    background-color: black;
  }

}
