<div class="container">
  <div id="logo">
    <img src="/../../assets/images/propsLogo.png" alt="Props Logo">
  </div>
  <div class="beers">
    <img class="col-sm-2 beer" src="/../../assets/images/4kings.png" alt="Four Kings">
    <img class="col-sm-2 beer" src="/../../assets/images/blonde.png" alt="Four Kings">
    <img class="col-sm-2 beer" src="/../../assets/images/dosPilotos.png" alt="Four Kings">
    <img class="col-sm-2 beer" src="/../../assets/images/prop-oil-porter.png" alt="Four Kings">
    <img class="col-sm-2 beer" src="/../../assets/images/luckeyO.png" alt="Four Kings">
  </div>
</div>
