.beers{
  padding-top: 10vh;
  padding-bottom: 22vh;
}

.beer{
  height: 45%;
  width: 45%;
}

.col-sm-3{
  margin: 0 auto;
  padding-top: 30px;
}

.words{
  color: white;
  text-align: center;
}

#about{
  padding-bottom: 22vh;
  padding-top: 22vh;
}
#logo{
  text-align: center;
  min-width: 100%;
  min-height: 100%;
}
#logo img{
  margin: 0 auto;
  height: 90%;
  width: 90%;
}

#visit{
  padding-bottom: 22vh;
}

#visit h1{
  padding-bottom: 20px;
}
