<div id="beers">
  <h1 class="words ammo" id="series">2018 distributed series</h1>
  <div class="row">
    <img class="col-sm-3  beer" (click)="insertText('coffin')" src="/../../assets/images/flyingCoffin.png" alt="Flying Coffin">
    <img class="col-sm-3  beer" (click)="insertText('dos')" src="/../../assets/images/dosPilotos.png" alt="Dos Pilotos">
    <img class="col-sm-3  beer" (click)="insertText('blonde')" src="/../../assets/images/blonde.png" alt="Blonde Bomber">
    <img class="col-sm-3  beer" (click)="insertText('kings')" src="/../../assets/images/4kings.png" alt="Four Kings">
  </div>
</div>

<h4 class="words">Our Distributed Series can be found in bars, package shops, and grocery stores anywhere between Mobile, AL to Appalachicola, FL and all the way up to Huntsville, AL.</h4>

<h1 class="ammo ontap"><a id="route" routerLink="/beerlist">Beers On Tap</a></h1>
<div id="beerMenu">
    <h2 class="beerName ammo" *ngFor="let onTap of onTap | async"> <span *ngIf='onTap.pub === true; elseBlock'> {{onTap.name}} -</span> <span *ngIf='onTap.pub === true; elseBlock' class="beerDescription">{{onTap.description}}</span></h2>
</div>
