.ammo{
  font-family: military;
}

.ammo small{
  font-size: .4em;
}

.beer{
  height: 45%;
  width: 45%;
}

.beerName{
  margin-top: 3vh;
  color: white;
  margin-bottom: 0px;
}

.beerDescription{
  color: white;
  font-family: sans-serif;
  font-size: .75em;

}

.ontap{
  color: white;
  padding-top: 10vh;
  text-align: center;
}

.words{
  color: white;
  text-align: center;
}

#beers{
  padding-top: 18vh;
  padding-bottom: 2vh;
}

#beerMenu h2 span{
  font-size: .5em;
  font-family: sans-serif;

}

#seasonal{
  padding-top: 5vh;
}

#series{
  padding-top: 5vh;
  padding-bottom: 5vh;
}
